body{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(216, 226, 231);
    color: rgb(25, 151, 214);
    position: relative;

    border-color: rgb(25, 151, 214);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p{
    margin: 0px;
}
small{
    margin: 15px;
}
#top-bar{
    width: 100%;
    padding: 1%;
    position: fixed;
    z-index: 1;
    top: 0px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: rgba(78, 85, 87, 0.9);
    box-shadow: 0px 0px 3px rgb(48, 52, 54) inset;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
#tMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    cursor: pointer;
}
#tText{
    color: rgb(216, 226, 231);
    margin: 0px;
    font-size: 25px;
}
.tMenu-item{
    margin: 10px;
}
#main{
    width: 100%;
    flex-grow: 1;
    position: relative;
    padding-bottom: 300px;
}
#bottom-bar{
    width: 100%;
    position: absolute;
    bottom: 0px;

    background-color: rgb(43, 47, 48);
    border-top-style: solid;
    border-top-width: 2px;
    border-color: inherit;
    box-shadow: 0px 0px 3px rgb(93, 102, 104),
                0px 0px 3px rgb(48, 52, 54) inset;

    
    display: flex;
    flex-direction: column;
    align-items: center;

}
#bottom-window{
    height: 200px;
    width: 100%;
    background-color: rgb(78, 85, 87);
    box-shadow:0px 0px 1px rgb(48, 52, 54) inset;
}
#profile-pic{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.text-box{
    min-height: 300px;
}
.pic-cover{
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8),
                                       rgba(0, 0, 0, .5) 15%,
                                       rgba(0, 0, 0, .5) 85%,
                                       rgba(0, 0, 0, 0.8));
    box-shadow: 0px 0px 3px rgb(48, 52, 54);
}
.pic-text{
    color: rgb(216, 226, 231);
    width: 60%;
    height: 100%;
    padding: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.picture-box{
    height: 100vh;
    width: 100%;
    background-size: 120vmax 100vmax;
    background-image: url("../media/profile-picture.jpg");
    background-repeat: no-repeat;
}